<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619038564005-91isqph23ksa83u88us2nvirvn2632ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619038564005-91isqph23ksa83u88us2nvirvn2632ec</string>
	<key>API_KEY</key>
	<string>AIzaSyC-euMjb873aHwJ_Oij4C1-cKCvFMJgBIU</string>
	<key>GCM_SENDER_ID</key>
	<string>619038564005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.seongchan.Mument</string>
	<key>PROJECT_ID</key>
	<string>mument-2c13b</string>
	<key>STORAGE_BUCKET</key>
	<string>mument-2c13b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619038564005:ios:c915c1af3029cb5d</string>
	<key>DATABASE_URL</key>
	<string>https://mument-2c13b.firebaseio.com</string>
</dict>
</plist>